.container {
    width: 90vmin;
    margin: auto;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    /* width: 90vmin; */
    background: burlywood;
    /* height: 80vh; */
    aspect-ratio: 1;
}

.dol {
    position: relative;
    width: 95%;
    aspect-ratio: 1;
    /* background: gainsboro; */
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
}

/* .hidden {
    background: gray !important;
} */

.hover {
    box-shadow: 0 0 0 2px gray inset;
}

.selected {
    /* background: lime; */
    pointer-events: none;
}

.button-row {
    margin: 20px;
    display: flex;
}

.end-button {
    margin: auto;
    font-size: xx-large;
}

.show-turn {
    margin: auto;
    padding:10px;
    font-size: xx-large;
}

.turn-black {
    background: white;
    color: black;
}

.turn-white {
    background: black;
    color: white;
}

.black {
    /* display: none; */
    /* height: 100%; */
    /* aspect-ratio: 1; */
    background: black;
    /* border-radius: 50%; */
}

.white {
    /* display: none; */
    /* height: 100%; */
    /* aspect-ratio: 1; */
    background: white;
    /* border-radius: 50%; */
}

.game-over {
    pointer-events: none;
}