.container {
    margin: auto;
    width: 75vmin;
    height: 95vh;
    display: block;
}

.board {
    display: grid;
    margin: 5vh auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 75vmin;
    background: burlywood;
    height: 75vmin;
    aspect-ratio: 1;
    border: solid black 5px;
}

.dol {
    position: relative;
    width: 95%;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
    z-index: 2;
}

.hidden {
    background: gray !important;
}

.hover {
    box-shadow: 0 0 0 2px gray inset;
}

.selected {
    /* background: lime; */
    pointer-events: none;
}

.button-row {
    margin: auto;
    display: flex;
    height: 10vh
}

.end-button {
    margin: auto;
    font-size: xx-large;
}

.show-turn {
    margin: auto;
    padding:10px;
    font-size: xx-large;
}

.turn-black {
    background: white;
    color: black;
}

.turn-white {
    background: black;
    color: white;
}

.black {
    background: black;
}

.white {
    background: white;
}

.game-over {
    pointer-events: none;
}

.line-horizontal {
    margin-top: calc(3vmin - 1px);
    width: inherit;
    height: 0px;
    border: solid 1px black;
    background: black;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

.line-vertical {
    margin-left: calc(3vmin - 1px);
    width: 0px;
    height: inherit;
    border: solid 1px black;
    background: black;
    position: absolute;
    box-sizing: border-box;
}